/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2018, 9:31:28 PM
    Author     : AMİNE YILDIZ
*/
.kirmizi{
    color: red;
}
.mavi{
    color: blue;
}

.yeşil{
    color: green;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
}
